@charset "UTF-8";
/* CSS Document */

html, body {
	margin:0;
	padding:0;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#FFF;
}

.hidden {
	display: none;
}

h1 {
	margin: 0;
	padding:0;
	
}

a {
	color:#000;
}

	a:hover {
		color:#F90;
	}
	




#page-container {
	width: 760px;
	margin:auto;
	background:#FFF;	
}

#header {
	height:200px;
	background:url(../biofood/images/logo.jpg);
	
}

#landmarks {
	width: 760px;
	height: 20px;
	padding:0;
	margin:0;
	background:#9F6;
	height: 20px;
	
}

#landmarks ul {
	padding:0;
	margin:0;
	list-style-type:none;
	display:block;
}

	#landmarks ul li {
		width:12.5%;
		display:block;
		float:left;
		width: auto;
		margin-left:10px;
		
		
	}
	



	#sidebar ul {
		list-style-type:none;
		padding:0;
		margin:0;

	}

	#sidebar .padding {
		padding: 25px;
	}

#toprightimage {
	float:right;
}

#content {
	height:100%;
	margin-left:190px;
	background:#FFF;
	line-height: 18px;

	
}

#sidebar {
	float:left;
	width:190px;
	height:600px;
	background:#CF9;
	line-height: 18px;
	
}

	#content .padding {
		padding: 25px;
		display:block;
	}

	#content h2 {
		margin:0;
		padding:0;
		padding-bottom: 15px;
	}

	#content p {
		margin:0;
		padding:0;
		padding-bottom: 15px;
	}




#footer {
	clear:both;
	background:#FF9;
	height: 66px;
	font-size:10px;
	padding: 13px 25px;
	border-top: 1px solid black;
	
}

ul#structLink {
	padding-bottom:20px;
		
}